/* 공통 타이틀 */
.about-me .tit,
.projects .tit,
.contact .tit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    color: #CD3131;
    margin-bottom: 6rem;
}
.about-me .tit i,
.projects .tit i,
.contact .tit i {
    font-size: 1.2rem;
}
.container {
    width: 144rem;
    margin: 0 auto;
}
section {
    padding: 8rem 0;
    width: 100%;
}
html {
    scroll-behavior: smooth;
}


/* main */
.hero header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero header .gnb ul {
    display: flex;
    gap: 10rem;
    padding-top: 4rem;
}
.hero header .gnb li {
    position: relative;
}
.hero header .gnb li a {
    font-size: 2rem;
    font-weight: 600;
}
.hero header .gnb .on {
    color: #CD3131;
}
.hero header .gnb .on:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.5rem;
    width: 2rem;
    height: 0.3rem;
    background-color: #CD3131;
    transform: translate(-50%);
}
/* #header */

/* main */
.hero {
    width: 100%;
    height: 88rem;
    padding: 0;
    background: url(../Img/main.jpg) no-repeat center/cover;
    position: relative;
}
.hero .text-area {
    padding-left: 10rem;
    padding-top: 22rem;
}
.hero .text-area p {
    font-weight: 500;
}
.hero .text-area .caption {
    color: #CD3131;
    margin-left: 0.4rem;
    margin-bottom: 1rem;
}
.hero .text-area h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.35;
    margin: -1rem 0 1rem 0;
}
.hero .text-area span {
    color: #CD3131;
}
.hero .text-area .desc {
    color: #6E6250;
}
.hero .scroll {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: #CD3131;
    position: absolute;
    left: 50%;
    top: 88%;
    transform: translateX(-50%);
}
/* #main */

/* aboutme */

.about-me {
    width: 100%;
    min-height: 900px;
    padding: 100px 0;
    background: #F2E9CE;
    overflow: hidden;
}

.about-inner {
    width: 1440px;
    min-height: 700px;
    margin: 0 auto;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* =========================================
   PROFILE
   ========================================= */

.about-profile {
    width: 400px;

    position: relative;
    z-index: 3;

    margin-right: -30px;
}

.profile-frame {
    width: 340px;
    height: 380px;

    position: relative;
}

.about-profile .profile {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center;

    border-radius: 30px;
}

/* 프로필 텍스트 */

.profile-text {
    margin: 2rem 0 1rem 0;
}
.profile-text strong {
    font-size: 3rem;
    font-weight: 700;
}
.profile-text span {
    font-size: 2rem;
    font-weight: 600;
    color: #CD3131;
}
.profile-text p {
    font-weight: 500;
    color: #6E6250;
}


/* =========================================
   INFORMATION CARD
   ========================================= */

.about-info-card {
    width: 500px;
    min-height: 630px;

    padding: 40px 45px;

    box-sizing: border-box;

    background: #DFD1A0;

    border-radius: 30px;

    position: relative;
    z-index: 1;
}


/* 제목 */

.about-card-title {
    display: flex;
    align-items: center;

    gap: 8px;

    padding-bottom: 12px;
    margin-bottom: 20px;

    border-bottom: 1px dashed #222226;
}

.about-card-title i {
    font-size: 7px;

    color: #CD3131;
}

.about-card-title h3 {
    font-size: 22px;
    font-weight: 700;

    color: #222226;
}


/* 각각의 정보 */

.info-block {
    margin-bottom: 35px;
}

.info-block:last-child {
    margin-bottom: 0;
}


/* ABOUT 설명 */

.about-card-desc {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 500;

    color: #222226;
}


/* Education / Career / Certification */

.info-content {
    display: flex;
    flex-direction: column;

    gap: 4px;

    margin-bottom: 18px;
}

.info-content:last-child {
    margin-bottom: 0;
}

.info-content strong {
    font-size: 16px;
    font-weight: 600;

    color: #222226;
}

.info-content span {
    font-size: 14px;

    color: #6E6250;
}


/* =========================================
   SKILL CARD
   ========================================= */

.skill-card {
    width: auto;
    min-height: 300px;
    padding: 35px;
    box-sizing: border-box;
    background: #CD3131;
    border-radius: 30px;
    z-index: 4;
    margin-left: -60px;
    margin-top: 200px;
}

/* Skill 제목 */

.skill-card-title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #fff;
}

.skill-card-title i {
    font-size: 7px;
    color: #fff;
}
.skill-card-title h3 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

/* Skill Bar */
.about-me .skill ul {
    display: grid;
    grid-template-columns: repeat(2, 16rem);
    column-gap: 2rem;
    row-gap: 1.6rem;
    justify-content: center;
}

.about-me .skill ul li {
    background-color: #F5EEDB;
    padding: 8px 0;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    box-sizing: border-box;
}
.about-me .skill ul li span {
    font-weight: 600;
}

/* #aboutme */

.projects {
    background-color: #EAE0C0;
}
.projects .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.projects .projects-content {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}
.projects .projects-content .projects-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.projects .projects-content p {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
}
.projects .projects-content .projects-wrap img:hover {
    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;
}
.projects .projects-content .projects-wrap img:hover {
    transform: scale(1.05);
    transform: translateY(-0.6rem);
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.10);
}
.projects .projects-content .box:hover p {
    color: #CD3131;
}

/* contact */
.contact {
    background-color: #F2E9CE;
}
.contact .tit {
    margin-bottom: 4rem;
}
.contact .contact-title {
    display: flex;
    justify-content: center;
    font-size: 5.6rem;
    font-weight: 600;
}
.contact .contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
}
.contact .contact-row .contact-link {
    text-decoration: none;
    color: inherit;
}
.contact .contact-row .contact-how {
    width: 46.4rem;
    height: 26rem;
    background-color: #FBF6E6;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.contact .contact-row .contact-how:hover {
    transform: translateY(-1rem);
    
}
.contact .contact-row .contact-how p {
    font-size: 2.4rem;
    font-weight: 500;
    color: #6E6250;
}
.contact .contact-row .contact-how span {
    font-size: 2.8rem;
    font-weight: 700;
}
.contact .btn-up {
    width: 5rem;
    height: 5rem;
    background-color: #C9B98A;
    box-shadow: 0 0.6rem 0 #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    right: 60px;
    bottom: 50px;
    z-index: 1000;
}
.contact .btn-up:hover {
    transform: translateY(0.3rem);
    box-shadow: 0 0.1rem 0 #C9B98A;
}

